<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.cart-mapper">
<insert id="cartInsert">
INSERT INTO project_cart VALUES(pc_cno_seq.nextval, #{gno}, #{type}, #{id}, #{account}, #{price}, 'n')
</insert>
<resultMap type="com.sist.vo.CartVO" id="cartMap">
<result property="gvo.goods_name" column="goods_name"/>
</resultMap>
<select id=""></select>
</mapper>